@import "./quill.css";

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-brand: var(--font-brand), cursive;
}
